nav {
    background: #ccc;
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    float: right;
    margin-right: 20px;
}

nav ul li.logo {
    float: left;
}

nav ul li a {
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
    height: inherit;
}

#banner {
    background: #777;
    height: 700px;
}

#banner .inner {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 130px;
}

#banner .inner h1 {
    margin: 0;
}

/* 消除h1原有的margin , 使衔接*/

button {
    border: none;
    background: #333;
    color: #eee;
    padding: 10px;
}

#banner button {
    padding: 14px 60px;
}

#banner .inner .more {
    margin-top: 150px;
}

.sub-heading {
    line-height: 30px;
    margin: 30px;
}

.hr {
    width: 100%;
    margin: 20px auto;
    height: 2px;
}

.green-section {
    text-align: center;
    color: #fff;
    background: rgb(20, 182, 120);
    padding: 100px;
}

.green-section .hr {
    background: rgb(53, 51, 51);
    width: 60%;
}

.green-section .icon-group .icon {
    display:  inline-block;
    width: 80px;
    height: 80px;
    background: rgb(12, 218, 190);
    transform: rotate(45deg);
    margin: 20px;
}

.icon-group {
    margin-top: 60px;
}

.warpper {
    min-width: 1080px;
    margin: 0 auto;
}

.gray-section {
    background: rgb(97, 95, 95);

}

.gray-section .img-section {
    width: 45%;
}

.img-section img {
    width: 100%;
}

.gray-section .text-section {
    width: 55%;
}

.article-preview > div {
    float: left;
    font-size: 0;
}

.article-preview::after {
    content: '';
    display: block;
    clear: both;
}

.text-section {
    position: relative;
    top: 68px;
    left: 50px;
}

.text-section h2 {
    margin-bottom: 20px;
}

.text-section p {
    font-size: 18px;
    letter-spacing: 1px;
}

.text-section > * {
    max-width: 90%;
}

.article-preview:nth-child(odd) {
    background-color: rgb(255, 255, 255, 0.3);
}